.theme-btn {
    background-color: #75BF7A;
    border: none;
    color: white;
    border-radius: 5.95px;
    padding: 8px 25px;
    font-weight: bold;
}

.navbar {
    font-weight: 500;
    color: black;
}


@media only screen and (max-width: 990px) {
    .navbar {
        height: auto;
    }

    .navbar-nav {
        padding: 10px;
    }

    .slide>img {
        width: 900px;
        height: 400px;
        object-fit: contain;
    }

    /* .slide-content>h1 {
        font-size: 50px;
        color: orange;
    } */
}








.row>.col>.grey {
    color: #9E9DA2;
}

.slide>img {
    /* padding: 20px; */
    width: 100%;
    display: flex;
    justify-content: center;
}


.slide-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store-content>img {
    margin-top: 20px;
}

.slide-content>h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65.91px;
    color: black;
}

.slide-content>.grey {
    color: #9E9DA2;
    font-weight: 500;
    font-size: 18px;
}


@media only screen and (max-width: 990px) {
    .slide-content>h1 {
        font-size: 40px;
        line-height: 50px;
    }
}


@media only screen and (max-width: 700px) {
    .slide-content {
        text-align: center;
        padding: 40px 10px;
    }

    .slide>img {
        text-align: center;
    }


    .theme-slide {
        flex-direction: column-reverse;
    }
}





.theme-mid {
    width: 100%;
    margin-top: 40px;
    background-color: #75BF7A;
    height: 150px;
    padding-top: 75px;
    border-radius: 10px;
}

.theme-mid>.theme-colour {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 70px;
}

.theme-mid>span>input {
    width: 350px;
    height: 50px;
    border-radius: 4.39px;
    border: none;
    padding-left: 30px;
}



.theme-mid>span>button {
    border-radius: 4.39px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
}

.theme-mid>.theme-btn-one {
    padding-left: 5px;
}

.theme-mid>.theme-input {
    padding-left: 40px;
}


@media only screen and (max-width: 700px) {
    .theme-mid {
        text-align: center;
        background-color: 100%;
        height: 280px;
        padding: 60px 0px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 700px) {

    .theme-mid>.theme-input {
        line-height: 100px;
    }
}



.theme-head {
    margin-top: 60px;
    text-align: center;
}

.theme-head>span> h1>.heading-color {
    color: #75BF7A;
}

.theme-head>span> h1 {
    font-size: 50px;
    font-weight: bold;
}

.theme-head>.p {
    color: #9E9DA2;
    font-size: 20px;
}



@media only screen and (max-width: 700px) {
    .theme-head>span> h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .theme-head>.p {
        color: #9E9DA2;
        font-size: 15px;
    }
}


.once {
    margin-top: 200px;
}

.left-side>h3 {
    font-size: 22px;
    font-weight: bold;
}

.col>.number-one>.paragraph {
    color: #9E9DA2;
    font-size: 19px;
}

.col>.number-one {
    text-align: right;
}




.col>.number-two>.paragraph {
    color: #9E9DA2;
    font-size: 19px;
}

.col>.number-two {
    text-align: right;
}

.number-two {
    margin-top: 60px;
}


.col>.number-three>.paragraph {
    color: #9E9DA2;
    font-size: 19px;
}

.right-side>h3 {
    font-size: 22px;
    font-weight: bold;
}

.col>.number-four>.paragraph {
    color: #9E9DA2;
    font-size: 19px;
}

.number-four {
    margin-top: 60px;
}


.col>.circle>img {
    margin-top: 60px;
}

.circles {
    text-align: center;
}


@media only screen and (max-width: 700px) {
    .number-three {
        text-align: center;
        margin-top: 30px;
    }

    .number-four {
        text-align: center !important;
    }

    .number-one {
        text-align: center !important;
    }

    .number-two {
        text-align: center !important;
        padding-bottom: 30px;
    }
}

.theme-circle {
    display: none;
}

/* @media only screen and (max-width: 700px) {
    .theme-circle {
        display: block;
        text-align: center;
    }

    .circles {
        display: none;
    }
} */

.middle {
    margin-top: 80px;
}



.container>div>h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

.container>div>h2>.green {
    color: #75BF7A;
}

.number-p>.cold {
    font-size: 39.94px;
    font-weight: 600;
    margin-left: 10px;
}

.copy-1 {
    color: #9E9DA2;
    margin-top: 20px;
    font-size: 20px;
}

.middle>.hello {
    width: 30%;
    text-align: justify;
}

.hello>.number-p>.ended {
    color: #75BF7A;
    font-size: 50px;
}

.hello>.mobile-res {
    display: none;
}


@media only screen and (max-width:700px) {
    .middle {
        text-align: center !important;
    }

    .copy-1 {
        text-align: center;
    }

    .hello>.mobile-res {
        display: block;
    }

    .soon>img{
        display: none;
    }
}

.middle {
    background-color: white;
}

/* .hellow>.number-q>span{
    color: #75BF7A;
    font-size: 50px;
} */

.number-q>.ending {
    color: #75BF7A;
    font-size: 50px;
}

.number-q>.cold {
    font-size: 39.94px;
    font-weight: 600;
    margin-left: 10px;
}

.copy-2 {
    color: #9E9DA2;
    margin-top: 20px;
    font-size: 20px;
}

.hellow {
    margin-top: 90px;
}

.earning-one {
    display: none;
}

@media only screen and (max-width:700px) {
    .hellow {
        text-align: center;
    }

    .earning-one {
        display: block;
    }

    .earning-three {
        display: none;
    }
}


.number-r>.ending {
    color: #75BF7A;
    font-size: 50px;
}

.number-r>.cold {
    font-size: 39.94px;
    font-weight: 600;
    margin-left: 10px;
}

.copy-3 {
    color: #9E9DA2;
    margin-top: 20px;
    font-size: 20px;
}

.hello-three {
    margin-top: 90px;
    margin-left: 20px;
}

.over {
    display: none;
}

@media only screen and (max-width:700px) {
    .hello-three {
        text-align: center !important;
    }

    .over {
        display: block;
    }

    .hover>img {
        display: none;
    }
}

