.theme-btn {
    background-color: #75BF7A;
    border: none;
    color: white;
    border-radius: 5.95px;
    padding: 8px 25px;
    font-weight: bold;
}

.navbar {
    font-weight: 500;
    color: black;
}


@media only screen and (max-width: 990px) {
    .navbar {
        height: auto;
    }

    .navbar-nav {
        padding: 10px;
    }

    .slide >img {
        width: 900px;
        height: 400px;
        object-fit: contain;
    }

    /* .slide-content>h1 {
        font-size: 50px;
        color: orange;
    } */
}








.row>.col>.grey {
    color:#9E9DA2;
}

.slide>img {
    padding: 20px;
    width: 70%;
    display: flex;
    justify-content: center;
}


.slide-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store-content>img {
    margin-top: 20px;
}

.slide-content>h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 65.91px;
    color: black;
}

.slide-content>.grey {
    color: #9E9DA2;
    font-weight: 500;
    font-size: 18px;
}


@media only screen and (max-width: 990px) {
    .slide-content>h1 {
        font-size: 40px;
        line-height: 50px;
}
}


@media only screen and (max-width: 700px) {
    .slide-content {
        text-align: center;
        padding: 40px 10px;
    }

    .slide>img {
        text-align: center;
    }


    .theme-slide {
        flex-direction: column-reverse;
    }
}